*.class

# Package Files #
*.jar
*.war
*.ear
/Lesson-01/HelloWorld/nbproject/private/
/Lesson-01/HelloWorld/build/
/Lesson-01/SayHello/nbproject/private/
/Lesson-01/SayHello/build/
/Lesson-01/InteractiveHello/nbproject/private/
/Lesson-01/InteractiveHello/build/
/Lesson-02/PrimitiveTypes/nbproject/private/
/Lesson-02/CommonDataTypes/nbproject/private/
/Lesson-02/CommonDataTypes/build/
/Lesson-02/InteractiveCommonDataTypes/nbproject/private/
/Lesson-02/InteractiveCommonDataTypes/build/
/Lesson-01/PrintingPower/nbproject/private/
/Lesson-01/PrintingPower/build/
/Lesson-01/DebugThis-JavaWTFJavaFTW/nbproject/private/
/Lesson-01/DebugThis-JavaWTFJavaFTW/build/
/Lesson-01/ChallengeActivityI-TickTacToeBoard/nbproject/private/
/Lesson-01/ChallengeActivityII-TickTacToeBoardSampleGame/nbproject/private/
/Lesson-01/SOLUTIONS/ChallengeActivityI-TickTacToeBoard/build/
/Lesson-01/SOLUTIONS/ChallengeActivityII-TickTacToeBoardSampleGame/build/