*.class

# Package Files #
*.jar
*.war
*.ear
/Lesson-01/HelloWorld/nbproject/private/
/Lesson-01/HelloWorld/build/
/Lesson-01/SayHello/nbproject/private/
/Lesson-01/SayHello/build/
/Lesson-01/InteractiveHello/nbproject/private/
/Lesson-01/InteractiveHello/build/
/Lesson-02/PrimitiveTypes/nbproject/private/
/Lesson-02/CommonDataTypes/nbproject/private/
/Lesson-02/CommonDataTypes/build/
/Lesson-02/InteractiveCommonDataTypes/nbproject/private/
/Lesson-02/InteractiveCommonDataTypes/build/
/Lesson-01/PrintingPower/nbproject/private/
/Lesson-01/PrintingPower/build/
/Lesson-01/DebugThis-JavaWTFJavaFTW/nbproject/private/
/Lesson-01/DebugThis-JavaWTFJavaFTW/build/
/Lesson-01/ChallengeActivityI-TickTacToeBoard/nbproject/private/
/Lesson-01/ChallengeActivityII-TickTacToeBoardSampleGame/nbproject/private/
/Lesson-01/SOLUTIONS/ChallengeActivityI-TickTacToeBoard/build/
/Lesson-01/SOLUTIONS/ChallengeActivityII-TickTacToeBoardSampleGame/build/
/Lesson-02/BasicOperators/nbproject/private/
/Lesson-02/BasicOperators/build/
/Lesson-02/SOLUTIONS/UnitConversionFtToIn/nbproject/private/
/Lesson-02/SOLUTIONS/UnitConversionFtToIn/build/
/Lesson-02/SOLUTIONS/AreaAndPerimeterOfARectangle/nbproject/private/
/Lesson-01/ChallengeActivityI-TickTacToeBoard/build/
/Lesson-02/SOLUTIONS/DebugThisUnitConversionFtToIn/nbproject/private/
/Lesson-02/SOLUTIONS/ChallengeActivityI-AreaAndPerimeterOfARectangle/nbproject/private/
/Lesson-02/SOLUTIONS/ChallengeActivityI-AreaAndPerimeterOfARectangle/build/
/Lesson-02/SOLUTIONS/FinalGradeInMET100/nbproject/private/
/Lesson-02/SOLUTIONS/ChallengeActivityII-FinalGradeInMET100/nbproject/private/
/Lesson-02/SOLUTIONS/ChallengeActivityII-FinalGradeInMET100/build/
/Lesson-03/RelationalQualityConditionalOperators/nbproject/private/
/Lesson-03/RelationalEqualityConditionalOperators/nbproject/private/
/Lesson-03/RelationalEqualityConditionalOperators/build/
/Lesson-03/UnderstandingTypeCasting/nbproject/private/
/Lesson-03/UnderstandingTypeCasting/build/
/Lesson-03/OnePlusTwoEqualsTwelve/nbproject/private/
/Lesson-03/OnePlusTwoEqualsTwelve/build/
/Lesson-03/SOLUTIONS/OddOrEven/nbproject/private/
/Lesson-03/SOLUTIONS/OddOrEven/build/
/Lesson-03/SOLUTIONS/DebugThis-OddOrEven/nbproject/private/
/Lesson-03/DebugThis-OddOrEven/nbproject/private/
/Lesson-03/SOLUTIONS/AreaOfATriangle/nbproject/private/
/Lesson-03/SOLUTIONS/AreaOfATriangle/build/
/Lesson-03/SOLUTIONS/ChallengeActivityI-AreaOfATriangle/nbproject/private/
/Lesson-03/ChallengeActivityI-AreaOfATriangle/nbproject/private/
/Lesson-03/SOLUTIONS/DegreesOfATriangle/nbproject/private/
/Lesson-03/SOLUTIONS/ChallengeActivityII-DegreesOfATriangle/nbproject/private/
/Lesson-03/SOLUTIONS/ChallengeActivityII-DegreesOfATriangle/build/
/Lesson-03/ChallengeActivityII-DegreesOfATriangle/build/
/Lesson-03/ChallengeActivityII-DegreesOfATriangle/nbproject/private/
/Lesson-03/UsingClassesExampleRandom/nbproject/private/
/Lesson-03/UsingClassesExampleRandom/build/
/Lesson-03/StringBuilderExample/nbproject/private/
/Lesson-03/RandomExample/nbproject/private/
/Lesson-03/StringBuilderExample/build/
/Lesson-03/MathExample/nbproject/private/
/Lesson-03/MathExample/build/
/Lesson-04/SOLUTIONS/GuessMyNumber/nbproject/private/
/Lesson-04/SOLUTIONS/DebugThis-GuessMyNumber/nbproject/private/
/Lesson-04/SOLUTIONS/DebugThis-GuessMyNumber/build/
/Lesson-04/SOLUTIONS/PalindromeDetector/nbproject/private/
/Lesson-04/SOLUTIONS/ChallengeActivityI-PalindromeDetector/nbproject/private/
/Lesson-04/SOLUTIONS/ChallengeActivityI-PalindromeDetector/build/
/Lesson-04/SOLUTIONS/FinalGradeInMET100v2/nbproject/private/
/Lesson-04/SOLUTIONS/FinalGradeInMET100v2/build/
/Lesson-04/SOLUTIONS/ChallengeActivityII-FinalGradeInMET100v2/nbproject/private/
/Lesson-04/SOLUTIONS/FunctionBasics/nbproject/private/
/Lesson-04/SOLUTIONS/FunctionBasics/build/
/Lesson-05/Factorial/nbproject/private/
/Lesson-05/Factorial/build/
/Lesson-05/SOLUTIONS/BigLetters/nbproject/private/
/Lesson-05/SOLUTIONS/BigLetters/build/
/Lesson-05/SOLUTIONS/ChallengeActivityI-BigLetters/nbproject/private/
/Lesson-05/SOLUTIONS/Triangles/nbproject/private/
/Lesson-05/SOLUTIONS/Circles/nbproject/private/
/Lesson-05/SOLUTIONS/Circles/build/
/Lesson-05/SOLUTIONS/DebugThis-Circles/nbproject/private/
/Lesson-05/SOLUTIONS/RollTheDice/nbproject/private/
/Lesson-05/SOLUTIONS/RollTheDice/build/
/Lesson-04/RandomExample/build/
/Lesson-05/SOLUTIONS/ChallengeActivityII-RollTheDice/nbproject/private/
/Lesson-06/NSidedDice/nbproject/private/
/Lesson-06/NSidedDice/build/
/Lesson-06/SOLUTIONS/EZTipCalc/nbproject/private/
/Lesson-06/SOLUTIONS/EZTipCalc/build/
/Lesson-06/SOLUTIONS/CircleClass/nbproject/private/
/Lesson-06/SOLUTIONS/CircleClass/build/
/Lesson-06/SOLUTIONS/MET100Gradesv3/nbproject/private/
/Lesson-06/SOLUTIONS/MET100Gradesv3/build/
/Lesson-06/SOLUTIONS/ChallengeActivityI-CircleClass/nbproject/private/
/Lesson-06/SOLUTIONS/ChallengeActivityII-MET100Gradesv3/nbproject/private/
/Lesson-06/SOLUTIONS/DebugThis-EZTipCalc/nbproject/private/
/Lesson-07/PlayingCards/nbproject/private/
/Lesson-07/PlayingCardsExample/nbproject/private/
/Lesson-07/PlayingCardsExample/build/
/Lesson-07/SOLUTIONS/ChallengeActivityII-PlayingCardsExample/nbproject/private/
/Lesson-07/SOLUTIONS/ChallengeActivityII-PlayingCardsExample/build/
/Lesson-07/ChallengeActivityII-PlayingCardsExample/build/
/Lesson-07/ChallengeActivityII-PlayingCardsExample/nbproject/private/
/Lesson-07/SOLUTIONS/RectangleClass/nbproject/private/
/Lesson-07/SOLUTIONS/RectangleClass/build/
/Lesson-07/SOLUTIONS/DebugThis-RectangleClass/nbproject/private/
/Lesson-07/SOLUTIONS/DebugThis-RectangleClass/build/
/Lesson-07/SOLUTIONS/ChallengeActivityI-RectangleClassTests/nbproject/private/
/Lesson-07/SOLUTIONS/ChallengeActivityI-RectangleClassTests/build/
/Lesson-02/SOLUTIONS/Solution-DebugThisUnitConversionFtToIn/nbproject/private/
/Lesson-02/SOLUTIONS/Solution-ChallengeActivityII-FinalGradeInMET100/nbproject/private/
/Lesson-02/SOLUTIONS/Solution-ChallengeActivityI-AreaAndPerimeterOfARectangle/nbproject/private/
/Lesson-03/SOLUTIONS/Solution-DebugThis-OddOrEven/nbproject/private/
/Lesson-03/SOLUTIONS/Solution-ChallengeActivityII-DegreesOfATriangle/nbproject/private/
/Lesson-03/SOLUTIONS/Solution-ChallengeActivityI-AreaOfATriangle/nbproject/private/
/Lesson-04/SOLUTIONS/Solution-DebugThis-GuessMyNumber/nbproject/private/
/Lesson-04/SOLUTIONS/Solution-ChallengeActivityI-PalindromeDetector/nbproject/private/
/Lesson-04/SOLUTIONS/Solution-ChallengeActivityII-FinalGradeInMET100v2/nbproject/private/
/Lesson-05/SOLUTIONS/Solution-DebugThis-Circles/nbproject/private/
/Lesson-05/SOLUTIONS/Solution-ChallengeActivityII-RollTheDice/nbproject/private/
/Lesson-05/SOLUTIONS/Solution-ChallengeActivityI-BigLetters/nbproject/private/
/Lesson-06/SOLUTIONS/Solution-DebugThis-EZTipCalc/nbproject/private/
/Lesson-06/SOLUTIONS/Solution-ChallengeActivityII-MET100Gradesv3/nbproject/private/
/Lesson-06/SOLUTIONS/Solution-ChallengeActivityI-CircleClass/nbproject/private/
/Lesson-07/SOLUTIONS/Solution-DebugThis-RectangleClass/nbproject/private/
/Lesson-07/SOLUTIONS/Solution-ChallengeActivityI-RectangleClassTests/nbproject/private/
/Lesson-07/SOLUTIONS/Solution-ChallengeActivityII-PlayingCardsExample/nbproject/private/
/Lesson-08/IfElseStatement/nbproject/private/
/Lesson-08/IfElseStatement/build/
/Lesson-08/DungeonHack/nbproject/private/
/Lesson-08/DungeonHack/build/
/Lesson-08/SOLUTIONS/Solution-DebugThis-DungeonHackCriticalHit/nbproject/private/
/Lesson-08/DebugThis-DungeonHackCriticalHit/nbproject/private/
/Lesson-08/SOLUTIONS/Solution-DebugThis-DungeonHackCriticalHit/build/
/Other/RockPaperScissors/nbproject/private/
/Other/PlayingCards/nbproject/private/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivityII-PlayingCardsExample/nbproject/private/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivityI-PlayingCardsComparison/nbproject/private/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivityII-DungeonHackMonsterTurn/nbproject/private/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivityII-DungeonHackMonsterTurn/build/
/Lesson-08/ChallengeActivityI-PlayingCardsComparison/nbproject/private/
/Lesson-08/ChallengeActivityI-PlayingCardsComparison/build/
/Lesson-08/ChallengeActivityII-DungeonHackMonsterTurn/nbproject/private/
/Lesson-08/ChallengeActivityII-DungeonHackMonsterTurn/build/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivityI-PlayingCardsComparison/build/