*.class

# Package Files #
*.jar
*.war
*.ear
/Lesson-01/HelloWorld/nbproject/private/
/Lesson-01/HelloWorld/build/
/Lesson-01/SayHello/nbproject/private/
/Lesson-01/SayHello/build/
/Lesson-01/InteractiveHello/nbproject/private/
/Lesson-01/InteractiveHello/build/
/Lesson-02/PrimitiveTypes/nbproject/private/
/Lesson-02/CommonDataTypes/nbproject/private/
/Lesson-02/CommonDataTypes/build/
/Lesson-02/InteractiveCommonDataTypes/nbproject/private/
/Lesson-02/InteractiveCommonDataTypes/build/
/Lesson-01/PrintingPower/nbproject/private/
/Lesson-01/PrintingPower/build/
/Lesson-01/DebugThis-JavaWTFJavaFTW/nbproject/private/
/Lesson-01/DebugThis-JavaWTFJavaFTW/build/
/Lesson-01/ChallengeActivityI-TickTacToeBoard/nbproject/private/
/Lesson-01/ChallengeActivityII-TickTacToeBoardSampleGame/nbproject/private/
/Lesson-01/SOLUTIONS/ChallengeActivityI-TickTacToeBoard/build/
/Lesson-01/SOLUTIONS/ChallengeActivityII-TickTacToeBoardSampleGame/build/
/Lesson-02/BasicOperators/nbproject/private/
/Lesson-02/BasicOperators/build/
/Lesson-02/SOLUTIONS/UnitConversionFtToIn/nbproject/private/
/Lesson-02/SOLUTIONS/UnitConversionFtToIn/build/
/Lesson-02/SOLUTIONS/AreaAndPerimeterOfARectangle/nbproject/private/
/Lesson-01/ChallengeActivityI-TickTacToeBoard/build/
/Lesson-02/SOLUTIONS/DebugThisUnitConversionFtToIn/nbproject/private/
/Lesson-02/SOLUTIONS/ChallengeActivityI-AreaAndPerimeterOfARectangle/nbproject/private/
/Lesson-02/SOLUTIONS/ChallengeActivityI-AreaAndPerimeterOfARectangle/build/
/Lesson-02/SOLUTIONS/FinalGradeInMET100/nbproject/private/
/Lesson-02/SOLUTIONS/ChallengeActivityII-FinalGradeInMET100/nbproject/private/
/Lesson-02/SOLUTIONS/ChallengeActivityII-FinalGradeInMET100/build/
/Lesson-03/RelationalQualityConditionalOperators/nbproject/private/
/Lesson-03/RelationalEqualityConditionalOperators/nbproject/private/
/Lesson-03/RelationalEqualityConditionalOperators/build/
/Lesson-03/UnderstandingTypeCasting/nbproject/private/
/Lesson-03/UnderstandingTypeCasting/build/
/Lesson-03/OnePlusTwoEqualsTwelve/nbproject/private/
/Lesson-03/OnePlusTwoEqualsTwelve/build/
/Lesson-03/SOLUTIONS/OddOrEven/nbproject/private/
/Lesson-03/SOLUTIONS/OddOrEven/build/
/Lesson-03/SOLUTIONS/DebugThis-OddOrEven/nbproject/private/
/Lesson-03/DebugThis-OddOrEven/nbproject/private/
/Lesson-03/SOLUTIONS/AreaOfATriangle/nbproject/private/
/Lesson-03/SOLUTIONS/AreaOfATriangle/build/
/Lesson-03/SOLUTIONS/ChallengeActivityI-AreaOfATriangle/nbproject/private/
/Lesson-03/ChallengeActivityI-AreaOfATriangle/nbproject/private/
/Lesson-03/SOLUTIONS/DegreesOfATriangle/nbproject/private/
/Lesson-03/SOLUTIONS/ChallengeActivityII-DegreesOfATriangle/nbproject/private/
/Lesson-03/SOLUTIONS/ChallengeActivityII-DegreesOfATriangle/build/
/Lesson-03/ChallengeActivityII-DegreesOfATriangle/build/
/Lesson-03/ChallengeActivityII-DegreesOfATriangle/nbproject/private/
/Lesson-03/UsingClassesExampleRandom/nbproject/private/
/Lesson-03/UsingClassesExampleRandom/build/
/Lesson-03/StringBuilderExample/nbproject/private/
/Lesson-03/RandomExample/nbproject/private/
/Lesson-03/StringBuilderExample/build/
/Lesson-03/MathExample/nbproject/private/
/Lesson-03/MathExample/build/
/Lesson-04/SOLUTIONS/GuessMyNumber/nbproject/private/
/Lesson-04/SOLUTIONS/DebugThis-GuessMyNumber/nbproject/private/
/Lesson-04/SOLUTIONS/DebugThis-GuessMyNumber/build/
/Lesson-04/SOLUTIONS/PalindromeDetector/nbproject/private/
/Lesson-04/SOLUTIONS/ChallengeActivityI-PalindromeDetector/nbproject/private/
/Lesson-04/SOLUTIONS/ChallengeActivityI-PalindromeDetector/build/
/Lesson-04/SOLUTIONS/FinalGradeInMET100v2/nbproject/private/
/Lesson-04/SOLUTIONS/FinalGradeInMET100v2/build/
/Lesson-04/SOLUTIONS/ChallengeActivityII-FinalGradeInMET100v2/nbproject/private/
/Lesson-04/SOLUTIONS/FunctionBasics/nbproject/private/
/Lesson-04/SOLUTIONS/FunctionBasics/build/
/Lesson-05/Factorial/nbproject/private/
/Lesson-05/Factorial/build/
/Lesson-05/SOLUTIONS/BigLetters/nbproject/private/
/Lesson-05/SOLUTIONS/BigLetters/build/
/Lesson-05/SOLUTIONS/ChallengeActivityI-BigLetters/nbproject/private/
/Lesson-05/SOLUTIONS/Triangles/nbproject/private/
/Lesson-05/SOLUTIONS/Circles/nbproject/private/
/Lesson-05/SOLUTIONS/Circles/build/
/Lesson-05/SOLUTIONS/DebugThis-Circles/nbproject/private/
/Lesson-05/SOLUTIONS/RollTheDice/nbproject/private/
/Lesson-05/SOLUTIONS/RollTheDice/build/
/Lesson-04/RandomExample/build/
/Lesson-05/SOLUTIONS/ChallengeActivityII-RollTheDice/nbproject/private/